*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.container{
    background-color: aqua;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0; 
    height: 70px;
}

.para{
    margin-top: 70px;
}

img{
    border-radius: 50px;
}
